@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Permanent+Marker&display=swap');
body{
	background-color:#297F87;
	font-family: 'Caveat Brush', cursive;

}

.main{
	background: #FFF7AE;
}

.home-description{
	font-style: normal;
	font-weight: 600;
	font-family: 'Caveat Brush', cursive;
	font-size: 19px;
    padding-top: 15px;
    padding-bottom: 25px;
    line-height: 29px;

}

.social a i{
	height: 40px;
	width: 40px;
	
	line-height: 40px;
	margin: 0 10px;
	
	font-size: 20px;
	padding-bottom: 20px;
	
	background-color: #FFF7AE;
	color: #297F87 ;
	font-style: normal;
	border: 1px solid #297F87;
	border-radius: 25px !important;
	transition: all 0.4s ease-in-out;
	
	
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	}

.social a:hover i{
	

	color: #DF2E2E;
	background-color: #F6D167;
	border-color: #F6D167;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;



	}


@media (min-width: 778px)
{
		.main{
			height: 100vh;
			overflow: hidden;
		}

		.img-rabbit{
			/*margin: 0 -15px;*/
		}

		.btn-group-vertical{
    		padding: 20px 87.5px;
    	}

    	.info{
			font-family: 'Caveat Brush', cursive;
			line-height: 28px;
		    font-size: 18px;
		    padding-top: 15px;
		    padding-right: 50px;
		}
		
		.home-description{
			padding-right: 90px;
			padding-left: 90px;
			
		}
}
.img-rabbit{
	width: 100%;
}
.btn-rabbit{
	background-color: #FFF7AE;
	color: #297F87 ;
	font-style: normal;
	border: 2px solid #297F87;
	border-radius: 25px !important;
	transition: all 0.4s ease-in-out;
	margin-bottom: 20px;
	font-family: 'Caveat Brush', cursive;
	font-size: 16px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	
	}

.btn-rabbit:hover{
	color: #DF2E2E;
	background-color: #F6D167;
	border-color: #F6D167;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	}

p{
	color: #585757;
	font-size: 16px;

	
}

.page-title{
	text-transform: uppercase;
	/*font-family: 'Josefin Sans';*/
	font-family: 'Caveat Brush', cursive;
}

/*Home Style*/
.logo{
	padding-top: 100px;
	text-transform: uppercase;
	font-size: 24px;
}

.logo h4{
	font-family: 'Caveat Brush', cursive;
}

@keyframes float {
					0% {
						box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
						transform: translatey(0px);
					}
					50% {
						box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
						transform: translatey(-20px);
					}
					100% {
						box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
						transform: translatey(0px);
					}
				}
		@keyframes logobg {
			  0%,
			  25% {
			    background-color:#d8d8d8;
			  }

			  50%,
			  75% {
			     background-color: #f3f3f3;
			  }

			  80%,100% {
			     background-color: #ffffff;
			  }
			}



.logo img{
	cursor: pointer;
	border-radius: 100%;
			background-color: transparent;
			-webkit-transition: all 0.7s linear;
			-webkit-transform: rotate(6.28rad);
			transition: all 0.7s;
			transform: rorate(6.28rad);
			transform: translatey(0px);
	animation: float 6s ease-in-out infinite;


}


footer{
	padding: 22px 0 10px 0;
	font-style: italic;
	
	}


.back{
    width: 170px;    
  	font-family: 'Caveat Brush', cursive;
    font-size: 17px;
    font-style: italic;
    vertical-align: middle;
    text-align: center;
    display: block;
    clear: both;
    margin-top: 70px;	 
}

.back i{
	margin-left: -40px;
    margin-right: 17px;
    font-size: 20px;
}


.form-control{
	margin-top: 30px;
	width: 75%;

}

.btn{
	padding: 10px 60px;
	height: 45px;
	font-size: 16px;
}

.btn-group-vertical{
	font-family: 'Caveat Brush', cursive;

    /*font-family: "Josefin Sans"; */   
}

.about{
	font-family: 'Caveat Brush', cursive;
	/*font-family: "Josefin Sans";*/
	/*margin-top: 35px;*/
	/*margin-bottom: 25px;*/
	font-size: 32px;
	
}
.form-control{
	font-style: italic;
	border-radius: 0;
	font-family: 'Caveat Brush', cursive;
	font-size: 16px;
}

.page-title{
	
	font-size: 32px;
	/*font-family: "Josefin Sans";*/
	font-family: 'Permanent Marker', cursive;
}

.fa-heartbeat{
	    color: #bb9e7d;
}

::selection {
	color: #fff;
   	background-color: #bb9e7d;
}

.bottom{
	padding-right: 20px;
}

.page-title{
	position: relative;
	display: inline-block;
}

.page-title:after,.page-title:before{
	content: '';
	position: absolute;
	height: 1px;
	background-color: black;
	left: 0;
	margin: 2px;
}

.social{
	padding-bottom: 15px;
}

.submit{
	font-family: 'Caveat Brush', cursive;
	
	font-size: 16px;
}

.subtitle{
	font-style: italic;
	font-weight: 600;
	font-size: 20px;
	color: #3b3b3b;
	line-height: 28px;
	font-family: 'Caveat Brush', cursive;
	margin-top: 15px;
	margin-bottom: 20px;
	padding-right: 40px;

	}
.page-title:after{
	width: 75%;
	top: -9px;

}

.page-title:before{
	width: 40%;
	bottom: -7px;
}

#watermark .marker{
	position: absolute;
	font-size: 60px;
	opacity: 0.1;
	/*font-family: "Josefin Sans";*/
	font-family: 'Permanent Marker', cursive;
	text-transform: uppercase;
	left: 0;
	top: -5px;
}

#watermark{
	position: relative;
}

.item{
	
	background-color: #313131;
	color: #f9f9f9;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    /*margin-left: 0px;*/
}

.owl-theme .owl-controls {
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: calc(44% - 40px);
		}

.owl-next{
	right: 0;
	padding-right: 1px;

}

.owl-prev{
	left: 0;
	padding-left: 1px;
}



.owl-theme .owl-controls .owl-nav [class*=owl-]{
	position: absolute;
	border-radius: 0px;
	font-size: 21px;
	padding: 15px 20px;
	margin: 0px;
	background-color: #fff; 

}

.owl-theme .owl-controls .owl-nav [class*=owl-] i{
	color: #333;
	
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
	background-color: #bb9e7d;
	border-color: #bb9e7d;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover i{
	color: #fff;
}
@media (max-width: 1024px) and (orientation: landscape){
	.main{
		height: auto;
	}
}
.custom_btn{
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}
.show{
	display: block;
}
